/* Custom Font */
/* @font-face {
    font-family: Rubik;
    src: url(../font/Rubik.ttf);
}

body {
    font-family: 'Rubik', sans-serif;
} */

/* Custom Wallpaper  */
/* body {
    background-image: url("../img/background/image.jpg");
    background-color: #343a40;
} */

/* Custom Color */
/* button:hover {
    background-color: rgba(76, 205, 79, 0.7);
} */

/* .encrypt {
    background-color: #4ccd4f;
} */

/* .clipboard {
    background-color: #4ccd4f;
} */